@keyframes notifylight {
    from {
        background: rgba(255, 0, 0, .5);
    }
    to {
        background: rgba(255, 0, 0, 1);
    }
}

body {
    font-size: 20px;

    animation: notifylight 5s infinite alternate;

    color: #0f0;

    div {
        font-family: 'Microsoft Yahei', 'Helvetica Neue', Helvetica, Arial, sans-serif;

        margin: 10px;
        padding: 20px;

        border: 1px solid #f00;
    }
}
