@keyframes notifylight {
  from{
    background: rgba(0,0,255,.5);
  }
  to{
    background: rgba(0, 0, 225,1);
  }
}
body {
  color: #0f0;
  font-size: 20px;
  animation:notifylight 5s infinite alternate;
  div {
    font-family: "Microsoft Yahei", "Helvetica Neue", Helvetica, Arial, sans-serif;
    border: 1px solid #ff0000;
    padding: 20px;
    margin: 10px;
  }
}
