body {
  color: #0f0;
  background-color: #0000ff;
  font-size: 20px;

  div {
    font-family: "Microsoft Yahei", "Helvetica Neue", Helvetica, Arial, sans-serif;
    border: 1px solid #ff0000;
    padding: 10px;
    margin: 10px;
  }
}